---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import HorizontalCardProject from "@components/HorizontalCardProject.astro";

import assemblyIcon from "../assets/logos/assembly.svg";
import rabbitMQIcon from "../assets/logos/rabbitmq.svg";
import signalRIcon from "../assets/logos/signalr.svg";
import grafanaIcon from "../assets/logos/grafana.svg";
import jenkinsIcon from "../assets/logos/jenkins.svg";
import csharpIcon from "../assets/logos/c-sharp.svg";
import dockerIcon from "../assets/logos/docker.svg";
import xstateIcon from "../assets/logos/xstate.svg";
import reactIcon from "../assets/logos/react.svg";
import unityIcon from "../assets/logos/unity.svg";
import sqlIcon from "../assets/logos/sql.svg";
import tsIcon from "../assets/logos/ts.svg";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects at work 🖥️</div>
  </div>

  <HorizontalCardProject
    title="Skustack Lens"
    img="/lens-thumbnail.webp"
    desc="A real-time warehouse visualization app that empowers businesses to monitor and optimize their operations with powerful, intuitive tracking and insights."
    url="https://youtu.be/HSeX3XjRyr0"
    tags={["Web", "App", "API"]}
    techStack={[
      { src: csharpIcon, alt: "C#" },
      { src: signalRIcon, alt: "SignalR" },
      { src: rabbitMQIcon, alt: "Rabbit MQ" },
      { src: tsIcon, alt: "TypeScript" },
      { src: reactIcon, alt: "React" },
      { src: xstateIcon, alt: "Xstate" },
      { src: sqlIcon, alt: "SQL" },
      { src: dockerIcon, alt: "Docker" },
      { src: jenkinsIcon, alt: "Jenkins" },
    ]}
  />
  <div class="divider my-0"></div>
  <HorizontalCardProject
    title="Skublox"
    img="/skublox-thumbnail.webp"
    desc="A system that greatly optimizes the shipping and sorting process that many companies struggle with."
    url="https://youtu.be/LHsaIaACVcg?t=2"
    tags={["Web", "App", "API", "Desktop"]}
    techStack={[
      { src: csharpIcon, alt: "C#" },
      { src: signalRIcon, alt: "SignalR" },
      { src: rabbitMQIcon, alt: "Rabbit MQ" },
      { src: tsIcon, alt: "TypeScript" },
      { src: reactIcon, alt: "React" },
      { src: xstateIcon, alt: "Xstate" },
      { src: sqlIcon, alt: "SQL" },
      { src: dockerIcon, alt: "Docker" },
      { src: jenkinsIcon, alt: "Jenkins" },
    ]}
  />
  <div class="divider my-0"></div>
  <HorizontalCardProject
    title="4D Scale"
    img="/4d-scale-thumbnail.webp"
    desc="A multidimensional scaling system that measures weight and dimensions in real-time and communicates with other products in the Sellercloud ecosystem."
    url="https://youtu.be/NI2DZhsVLjM"
    tags={["Web", "App", "API", "Desktop"]}
    techStack={[
      { src: csharpIcon, alt: "C#" },
      { src: signalRIcon, alt: "SignalR" },
      { src: rabbitMQIcon, alt: "Rabbit MQ" },
      { src: tsIcon, alt: "TypeScript" },
      { src: reactIcon, alt: "React" },
      { src: xstateIcon, alt: "Xstate" },
      { src: sqlIcon, alt: "SQL" },
      { src: dockerIcon, alt: "Docker" },
      { src: jenkinsIcon, alt: "Jenkins" },
    ]}
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects Header</div>
  </div>

  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
</BaseLayout>
